/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


img{
    width: 100%;
}

/* SEZIONI VH */
.first{
    height: 100vh;
    background-color: red;
    position: relative;
}


.first-img{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


