/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


img{
    width: 100%;
}

/* SEZIONI VH */
.article{
    height: 100vh;
    position: relative;
}

.red{
    background-color: red;
    color: yellow;
}

.green{
    background-color: green;
    color: yellowgreen;
}

.yellow{
    background-color: yellow;
    color: green;
}


.first{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.first-text-shoes{
    display: inline-block;
    height: 100px;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}